$bg_color_yellow: #bbe123;
$bg_color_green: #3ab025;


/// colores de fondo-azul
$bg-color-blue-100: #4534ff;
$bg-color-blue-200: #4534ffa4;
$bg-color-blue-300: #4534ff5c;
$bg-color-blue-400: #4534ff29;


/// colores de fondo-rojo
$bg-color-red-100: #ff3434;
$bg-color-red-100: #ff3434c2;
$bg-color-red-100: #ff34346a;
$bg-color-red-100: #ff343429;

